body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4em;
    min-height:100vh;
    overflow: hidden;
}

.parent{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    border-radius: 20px;
    width: 30%;
    padding: 1em;

}

.QRcontainer{
    height: 55%;
    width:100%;
    border-radius: 20px;
}



#QRcode{
    height:100%;
    width: 100%;
    border-radius: 20px;

}


  
.firstText{
    width:100%;
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.secondText{
    width:100%;
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.attribution{
    width:100%;
    text-align:center;
    width:100%;
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}